<!-- <!DOCTYPE html>
<html>
  <head>
    <title>
      My First Express App
    </title>
  </head>
  <body>
    <h1>Prep for prep</h1>
    <p>Live for life.</p>
    <form method="POST">
      <p>Enter your breakfast: <input name="breakfast" /></p>
      <button type="submit">Submit</button>
    </form>
  </body>
</html> -->

<!DOCTYPE html>
<html>

<head>
  <title>Voting App</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css">
  <link rel="stylesheet" href="css/style.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-analytics.js"></script>

  <script>
    // Your web app's Firebase configuration
    // var firebaseConfig = {
    //   apiKey: "AIzaSyBqO36AXg7sBHnJjeMLazuYu-0qogwcsjs",
    //   authDomain: "quiver-two-8a524.firebaseapp.com",
    //   databaseURL: "https://quiver-two-8a524.firebaseio.com",
    //   projectId: "quiver-two-8a524",
    //   storageBucket: "quiver-two-8a524.appspot.com",
    //   messagingSenderId: "1028209628124",
    //   appId: "1:1028209628124:web:4769b0ba058305dcc93519",
    //   measurementId: "G-J381X3THJ2"
    // };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>
</head>

<body>
  <div class="container">
    <h1>Voting App</h1>
    <p>Add Restaurant: <input id="addRestaurant" /></p>
    <button class='btn btn-primary' onclick={addRestaurant()}>
      Submit
    </button>

    <div class="row">
      <% var keys = Object.keys(restaurants) %>

      <% keys.forEach(function(key) { %>
      <% var allUsers %>

      <% if (restaurants[key].votes) { %>
      <% allUsers = Object.keys(restaurants[key].votes) %>
      <% } else { %>
      <%  allUsers = [] %>
      <% } %>

      <div class="col s6 m6 l6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title"><%= restaurants[key].name %></span>
            <p>Votes: <%= allUsers.length %></p>
          </div>
          <div class="card-action">
            <button onclick={upvote(key)} class="btn">Upvote<i class="material-icons">add</i></button>
            <button onclick={downvote(key)} class="btn">Downvote<i class="material-icons">arrow_downward</i></button>
          </div>
        </div>
      </div>
      <% }) %>
    </div>

    <h3 id="google-displayName"></h3>
    <img id="google-pic" src="" />
    <p id="google-email"></p>
    <button class="btn btn-primary" id="google-signin" onclick={signInWithGoogle()}>
      Sign In With Google
    </button>
    <button class="btn btn-" id="signout" onclick={signOut()} style="display: none; visibility: hidden;">
      Sign Out
    </button>
  </div>
  <script src="js/firebaseAuth.js"></script>
  <script src="js/firebaseVoting.js"></script>
</body>

</html>